.head {
    border: 2px solid #cccccc;
    background-color: #62cccb;
    text-align: center;
    padding: 1%;
    width: 97.7%;
    float: left;
}

.alerts {
    border: 2px solid #cccccc;
    background-color: #cca2b3;
    text-align: left;
    padding: 10px;
    width: 48%;
    float: right;
    font-weight: bold;
/ / clear: both;
}

.h2-al {
    text-align: center;
}

.op-h {
    text-align: center;
    font-size: 125%;
}

.hrefs {
    border: 2px solid #cccccc;
    background-color: #62cccb;
    text-align: left;
    width: 48%;
    float: left;
    padding-left: 2%;
}

.hrefs2 {
    border: 2px solid #cccccc;
    background-color: #62cccb;
    text-align: center;
    width: 50%;
    float: left;
}

.hrefs3 {
    border: 2px solid #cccccc;
    background-color: #62cccb;
    text-align: center;
    width: 99.7%;
    float: left;
}

.hrefs4 {
    border: 2px solid #cccccc;
    background-color: #62cccb;
    text-align: center;
    width: 40%;
    float: right;
    clear: right;
}

.p1 {
    font-size: 110%;
    font-weight: bold;
}

.tables {
    border: 2px solid #cccccc;
    background-color: #a9c9cc;
    text-align: left;
    width: 57.4%;
    float: left;
    padding-left: 2%;
    padding-bottom: 9%;
}

.tables-fw {
    border: 2px solid #cccccc;
    background-color: #a9c9cc;
    text-align: left;
    width: 99.7%;
    float: left;
    padding-left: 2%;
    padding-bottom: 2%;
}

.new_data {
    border: 2px solid #cccccc;
    background-color: #a9c9cc;
    text-align: right;
    padding-right: 7%;
    width: 33%;
    float: right;
    font-weight: bold;
}

.new_data_fw {
    border: 2px solid #cccccc;
    background-color: #a9c9cc;
    text-align: center;
    width: 99.7%;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
}

.show_data {
    border: 2px solid #cccccc;
    background-color: #a9c9cc;
    text-align: left;
    padding-left: 3%;
    width: 25%;
    float: left;
    font-weight: bold;
}

.show_data_ds {
    border: 2px solid #cccccc;
    background-color: #a9c9cc;
    text-align: left;
    padding-left: 5%;
    width: 30%;
    float: right;
    font-weight: bold;
    clear: both;
}

.add_cer {
    padding-bottom: 18%;
}

.dge {
    background-color: #a9c9cc;
    width: 44.7%;
    padding-left: 5%;
    font-weight: bold;
}

.cdge {
    background-color: #a9c9cc;
    width: 44.7%;
    padding-left: 5%;
    font-weight: bold;
    float: right;
    padding-top: 3.6%;
    padding-bottom: 3.7%;
}

.fa {
    width: 49.7%;
    background-color: #a9c9cc;
    padding-top: 1%;
    padding-bottom: 1%;
}

.mm {
    width: 49.7%;
}

.debts {
    text-align: center;
}

.debt_table {
    padding-left: 2%;
    width: 62.43%;
}

.debt_fix {
    padding-left: 1%;
    padding-right: 1%;
    width: 33%;
    float: right;
}

.t-l {
    text-align: left;
}

.mmd {
    width: 35%;
    float: right;
    clear: both;
}

.dfs {
    padding-left: 14%;
    padding-right: 14%;
    width: 71.7%;
}

.efe {
    text-align: left;
    width: 49.7%;
    padding-left: 40%;
    padding-right: 10%;
}

.dget {
    background-color: #a9c9cc;
}

.dget2 {
    background-color: #b799cc;
}

.finan {
    text-align: left;
    width: 49.7%;
    padding-left: 40%;
    padding-right: 10%;
    background-color: #b799cc;
}

.fae {
    padding-left: 1%;
    padding-right: 1%;
    width: 97.7%;
    text-align: center;
    background-color: #b7a7cc;
}

.incsht_l {
    padding-left: 2%;
    padding-right: 1.44%;
    width: 25%;
    text-align: center;
    background-color: #a9c9cc;
    float: left;
}

.incsht_r {
    padding-left: 2%;
    padding-right: 1%;
    width: 68%;
    text-align: center;
    background-color: #a9c9cc;
    float: right;
}

.in_fix_exe {
    border: 2px solid #cccccc;
    background-color: #a9c9cc;
    text-align: left;
    padding-left: 16.04%;
    width: 33.4%;
    float: left;
    font-weight: bold;
}

.inc_sh {
    border: 2px solid #cccccc;
    background-color: #a9c9cc;
    text-align: left;
    padding-left: 19%;
    padding-bottom: 2.85%;
    width: 31%;
    float: right;
    font-weight: bold;
}

.mel {
    background-color: #a9c9cc;
}

.regist {
    background-color: #c8ccbf;
    font-weight: bold;
}

.ac_d {
    background-color: #cca2b3;
}
